[user]
  name = alan
  email = langwdalan@gmail.com

[github]
  user = alanlang

[core]
  excludesfile = ~/.config/git/ignore
  editor = code --wait
  filemode = false
  trustctime = false
  autocrlf = input
  untrackedCache = true
  pager = diff-so-fancy | less --tabs=4 -RFX
  ignorecase = false

[credential]
  helper = osxkeychain

[pull]
  rebase = true

[init]
  defaultBranch = main

[push]
  default = simple
  followTags = true

[fetch]
  prune = true

[grep]
  lineNumber = true

[help]
  autocorrect = 1

[alias]
  cn = commit --no-verify -m
  ca = commit --amend --reuse-message=HEAD
  cm = commit --amend --message
  pf = push -f
  pd = push -u dev
